.gm-style .gm-style-iw {
  background: rgba(255, 255, 255, 0.7);
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background: none;
}
.gm-style .gm-style-iw-t::after {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
}
